.header__headline {
  display: flex;
  font-family: 'Playwrite NO', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  gap: 1rem;
  justify-content: center;
}

.header__headline-icon {
  color: var(--color-green);
}
