.groceries-planer__modal {
  max-width: 32rem;
}

.groceries-planer__modal-card {
  background-color: var(--color-green) !important;
}

.groceries-planer__modal-card-headline {
  padding: 1.5rem 0 0 1.5rem;
}

.groceries-planer__modal-card-actions {
  margin-right: 0.4rem;
}
